extends template/base.pug

block content
    h1 About
    span.image
        img(src="images/personal-img.jpg" style="width: 64%; margin-bottom: 1em")

    p
        | I am Yang, Hong-Bin from Taiwan. Petingo is my nickname as well as my username in almost every website.
    p
        | Currently, I work as a research assistant @ Academia Sinica, Taiwan, conducting research on
        | deep learning-based image forgery detection under the supervision of
        | #[a(href="https://www.citi.sinica.edu.tw/pages/pullpull/contact_en.html") Prof. Chen, Jun-Cheng].
    p
        | I have completed my Bachelor's degree in Computer Science at Taiwan Tech
        | and exchanged to Czech Technical University in Prague during the harsh time of COVID-19.
        | My previous research focused on image quality enhancement,
        | and I had collaborated with #[a(href="http://faculty.csie.ntust.edu.tw/~klchung/") Prof. Kuo-Liang Chung] and published
        | #[a(href="https://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=9108293&tag=1") Effective Chroma Subsampling and Luma Modification for RGB Full-color Images Using the Multiple Linear Regression Technique],
        | which is now state-of-the-art in YUV420 chroma subsampling.

    p
        | I am also an award-winning photographer, where I just won the Special Award in 2021 Shin Kong Mitsukoshi International Photography Contest with #[a(href="https://www.instagram.com/p/CIGk6ATg41Z/?utm_source=ig_web_copy_link") this photo].
        | If you are interested in my photography works, please visit my #[a(href="https://instagram.com/petingo") instagram].

    p
        | Another interest of mine is architecture. I love to take photo of architecture, draw architecture, and make paper model.
        | I had also took several courses related to Architecture and Interior Design during university.
    
    p
        | Recently, I read a book titled Interactive Architecture. This book motivated me to rethink the possibilty of the combination of Architecture and Computer Science.
        | Thus, I made up my mind to delve into the interdisciplinarity of the two area by prusuing a Master's

//- p
    //-     span(style="background-image: linear-gradient(0deg,transparent 9%, #d1f0ec 10%, #d1f0ec 49%,transparent 50%);")
    //-         | I am a #[a(href="https://en.wikipedia.org/wiki/Multipotentiality") multipotentialite ]
    //-         | with passion to bridge the gap between Computer Science, Photography, and Architecture. #[br]
