extends template/base.pug

block content
    h1 About
    span.image
        img(src="images/personal-img.jpg" style="width: 64%; margin-bottom: 1em")

    p
        | I am Yang Hong-Bin, aka Petingo, from Taiwan.
    p
        | Currently, I work as a research assistant @ Academia Sinica, Taiwan, conducting research related to
        | automatic image synthesis and image forgery detection under the supervision of
        | #[a(href="https://www.citi.sinica.edu.tw/pages/pullpull/contact_en.html") Prof. Chen, Jun-Cheng].
    p
        | Before starting my job, I have completed my Bachelor's degree in Computer Science @ Taiwan Tech,
        | and exchanged to Czech Technical University in Prague during the harsh time of COVID-19.
        | My previous research focused on image quality enhancement with both mathematical methods and deep learning,
        | and I had cooperated with #[a(href="http://faculty.csie.ntust.edu.tw/~klchung/") Prof. Kuo-Liang Chung] and published
        | #[a(href="https://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=9108293&tag=1") Effective Chroma Subsampling and Luma Modification for RGB Full-color Images Using the Multiple Linear Regression Technique],
        | which is the state-of-the-art of YUV420 chroma subsampling (Dec. 2020).


//- p
    //-     span(style="background-image: linear-gradient(0deg,transparent 9%, #d1f0ec 10%, #d1f0ec 49%,transparent 50%);")
    //-         | I am a #[a(href="https://en.wikipedia.org/wiki/Multipotentiality") multipotentialite ]
    //-         | with passion to bridge the gap between Computer Science, Photography, and Architecture. #[br]
