extends template/base.pug

block content
    div#article
        h1 Fold the Refuge
        span.image.main
            img(src="images/fold/main.jpg" alt="model")
        
        h2 Introduction
        p
            | When natural disasters like typhoons, tornadoes, or earthquakes hit, buildings collapse and people displace.
            | During the process of reconstruction, a temporary shelter may need to be built for the victims.
        p
            span(style="background-image: linear-gradient(0deg,transparent 9%, #d1f0ec 10%, #d1f0ec 49%,transparent 50%);")
                | Fold the Refuge is formed by foldable components, which is designed for efficient delivery and quick construction. 
            | Therefore, when disasters happen, victims can move into Fold the Refuge,
            | living with their loved families within a relatively short time.

        hr

        h2 Concept
        h3 1. Foldable
        span.image.fit
            img(src="images/fold/concept.png" alt="concept")
        p
            | All the components of Fold the Refuge are designed to fit in a standard 20' container.
            | Therefore, these components can be loaded to a container and shipped to the destination with a cargo truck.
        p.bmb
            | After arriving at the destination, the three components which form the floor and the side walls are first concatenated.
            | Later, the two components for the façade and the back are placed on the concatenated base.
            | In the end, the rest of the wall can be folded and form the side walls and the ceiling.

        span.image.fit
            img(src="images/fold/animate.gif" alt="animate")
            p.align-center (A construction demonstration.)

        h3 2. Extendable
        p
            | The part forms the floor and side wall are extendable. Here, a 2-block structure for 4 people is demostrated.
            | However, according to the amount of people, free space of the site, or other special needs,
            | Fold the Refuge can be shrink to 1 block or expend to 3 or more.

        hr

        h2 Interior
        span.image.fit
            img(src="images/fold/interior-sketch.png")
            p.align-center (Interior sketch for 2-block / 1-block structure.)
        
        p.bmb
            | Assume that a family with two parents and two children will live in this refuge for up to 6 months before the reconstruction finished.
            | The living space is small but complete, including one bedroom, one bathroom, one living room with a kitchen.

        span.image.fit
            img(src="images/fold/interior-label.jpg")

        span.image.fit
            img(src="images/fold/interior.png")
        //-     p.align-center Interior plan
        //- span.image.fit
        //-     img(src="images/fold/section-A.jpg")
        //-     p.align-center Section A
        //- span.image.fit
        //-     img(src="images/fold/section-B.jpg")
        //-     p.align-center Section B
        //- span.image.fit
        //-     img(src="images/fold/section-C.jpg")
        //-     p.align-center Section C