extends template/base.pug

block content
    div(style="width: 70%; margin: 0px auto;")
        h1 Fold the Refuge
        span.image.main
            img(src="images/fold/main.jpg" alt="model")
        
        h2 Introduction
        p
            | When natural disasters like typhoons, tornadoes, or earthquakes hit, buildings collapse and people displace.
            | During the process of reconstruction, a temporary shelter may need to be built for the victims.
        p
            span(style="background-image: linear-gradient(0deg,transparent 9%, #d1f0ec 10%, #d1f0ec 49%,transparent 50%);")
                | Fold the Refuge is formed by foldable components, which is designed for efficient delivery and quick construction. 
            | Therefore, when disasters happen, victims can move into Fold the Refuge,
            | living with their loved families within a relatively short time.

        hr

        h2 Concept
        span.image.fit
            img(src="images/fold/concept.png" alt="concept")
        p
            | All components of 