extends template/base.pug

block content
    div(style="width: 70%; margin: 0px auto;")
        h1 Smart Pedestrian Crossing
        span.image.main
            img(src="images/smart-xing/main.jpg" alt="model")
        
        h2 Introduction
        p.bmb
            | Smart Xing is a more interactive pedestrian crossing. By replacing the white stripes with lamps, we introducing two functions to the pedestrian crossing.
        