extends template/base.pug

block content
    div#article
        h1 NUTS
        span.image.main
            img(src="images/NUTS/main.png")
            
        
        h2 Introduction
        p.bmb
            | A map-based campus forum, which aim to reinforce the connection between a
            | discussion and its locale. Users can drop pins with title on campus map,
            | leave comment on other pins, and vote for the pins.

        h2 Video Demo & Introduction
        p.bmb
            | <iframe width="100%" height="480px" src="https://www.youtube.com/embed/qUNpIXKJO78" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
        h2 Download Link
        span
            | <a href='https://play.google.com/store/apps/details?id=com.nuts.nuts&hl=zh_TW&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png' height="96px" width="256px"/></a>