extends template/base.pug

block content
    div#article
        h1 NUTS
        span.image.main
            img(src="images/NUTS/main.png")
        
        h2 Introduction
        p.bmb
            | A map-based campus forum, which aim to reinforce the connection between a
            | discussion and its locale. Users can drop pins with title on campus map,
            | leave comment on other pins, and vote for the pins.

        h2 Demo & introduction
        p.bmb
            | <iframe width="100%" height="480px" src="https://www.youtube.com/embed/qUNpIXKJO78" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
        