extends template/base.pug

block content
    div#main
        div.box
            div.pic

<div id="main">
  <div class="box">
    <div class="pic">
      <img src="./img/1.jpg" alt="" />
    </div>
  </div>
</div>

https://chiangyuchi.github.io/2019/12/04/2019-12-04/