doctype html
html
    head
        script(async src="https://www.googletagmanager.com/gtag/js?id=G-X60PNPCW5T")
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-X60PNPCW5T');

        title Petingo
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
        link(rel="stylesheet", href="assets/css/main.css")
        link(rel="icon" href="images/logo.png")
        noscript
            link(rel="stylesheet", href="assets/css/noscript.css")
        script(src="https://cdn.jsdelivr.net/npm/typeit@7.0.4/dist/typeit.min.js")

    body.is-preload
        div#wrapper
            header#header
                div.inner
                    a.logo(href="index.html")
                        span.symbol
                            img(src="images/logo.png" alt="")
                        span.title Petingo
                    
                    nav
                        ul
                            li
                                a(href="#menu") Menu
            nav#menu
                h2 Menu
                ul
                    li
                        a(href="index.html") Home
                    li
                        a(href="about.html") About
            
            div#main
                div.inner
                    block content

            footer#footer
                div.inner
                    section
                        ul.icons
                            li
                                a.icon.brands.style2.fa-github(href="https://github.com/Petingo")
                                    span.label GitHub
                            li
                                a.icon.brands.style2.fa-instagram(href="https://instagram.com/petingo")
                                    span.label Instagram
                            li
                                a.icon.brands.style2.fa-twitter(href="https://twitter.com/Petingooo")
                                    span.label Twitter
                            li
                                a.icon.brands.style2.fa-facebook-f(href="https://www.facebook.com/Petingo")
                                    span.label Facebook
                            li
                                a.icon.solid.style2.fa-envelope(href="mailto:eyanghongbin0315@gmail.com")
                                    span.label Email
                    ul.copyright
                        li &copy; Untitled. All rights reserved
                        li 
                            | Modified from:
                            a(href="https://html5up.net/phantom") HTML5 UP
                
        script(src="assets/js/jquery.min.js")
        script(src="assets/js/browser.min.js")
        script(src="assets/js/breakpoints.min.js")
        script(src="assets/js/util.js")
        script(src="assets/js/main.js")
        script(src="assets/js/ext.js")
    